body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #FFFFFF;
}
h3{
  text-align: center;
}
p {
  color: #FFFFFF;
  text-align: justify;
}
nav {
  background-color: #FFA101;
}
nav a {
  color:#FFFFFF;
  font-weight: 500;
}

nav a:hover {
  color: #000000;
}

#home-page {
  background-image: url(https://images.unsplash.com/photo-1586999768265-24af89630739?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  margin-top: -100px;
}

.card-body {
  background-color: #FFA101;
}

.card-body p {
  color: #000000
}
